doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/bulma/bulma-theme.css")
        link(rel="icon" href="favicon.ico")
        script(src="js/main.js")
    body
        .container.is-fluid


            section.section
                .container
                    h2.title.has-text-centered NEAR Protocol Network Monitor

                    .columns
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/testnet-lg-header.png", alt="")
                                .card-content
                                    span.is-size-7 62 validators | 22,232,300 blocks | 161 Tx
                                    h5.title.is-5
                                        a(href="#") TestNet
                                    a.button.is-primary(href="#") Open Explorer
                        .column
                            .card(style="height: 100%")
                                .card-image
                                    a(href="#")
                                        img(src="images/betanet-lg-header.png", alt="")
                                .card-content
                                    span.is-size-7 16 validators | 232,300 blocks | 161 Tx
                                    h5.title.is-5
                                        a(href="#") BetaNet
                                    a.button.is-primary(href="#") Open Explorer

            section.section
                .container
                    .columns.is-multiline
                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/folder-o.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-info 2
                                h4.title Projects
                                progress.progress.is-info(role="progressbar", value="75", max="100")
                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/users.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-info 117
                                h4.title Validators
                                progress.progress.is-info(role="progressbar", value="75", max="100")
                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/file-text-o.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-info 248
                                h4.title Transactions
                                progress.progress.is-info(role="progressbar", value="75", max="100")
                        .column.is-6-tablet.is-3-desktop
                            .box
                                .media
                                    .media-left
                                        figure.image.is-48x48
                                            img(src="placeholder/icons/calendar-o.svg", alt="")
                                    .media-content.has-text-right
                                        h3.title.is-1.has-text-info ace06
                                h4.title Version
                                progress.progress.is-info(role="progressbar", value="75", max="100")





            section.section
                .container
                    .columns.is-multiline
                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline Storage
                                        span.tag.is-success.is-pulled-right Monthly
                                .card-content
                                    h3.title 108,200 kb
                                    p Total Kilobytes since Genesis
                                    p #[img(src="placeholder/icons/level-up.svg", alt="")] Uploaded
                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline Tokens
                                        span.tag.is-success.is-pulled-right Total
                                .card-content
                                    h3.title 300,000,000
                                    p Allocated at Genesis
                                    p #[img(src="placeholder/icons/level-up.svg", alt="")] 4.5% inflation
                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline Transactions
                                        span.tag.is-success.is-pulled-right Today
                                .card-content
                                    h3.title 81,248
                                    p FunctionCall Actions
                                    p #[img(src="placeholder/icons/level-up.svg", alt="")] 24% intraday
                        .column.is-6-tablet.is-3-desktop
                            .card
                                .card-header
                                    h3.card-header-title.is-inline Accounts
                                        span.tag.is-success.is-pulled-right Today
                                .card-content
                                    h3.title 2,341
                                    p CreateAccount Actions
                                    p #[img(src="placeholder/icons/level-up.svg", alt="")] 42% intraday


